/*reset*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    background-image: url(./img/estrada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

h1,
h2,
h3,
h4,
h5 {
    color: #ff6106;
}

p,
label {
    color: #ffffff;
}

input {
    
    border: 1rem solid transparent;
    border-bottom: .1rem solid #ccc;
    padding: .1rem 0;
}

input[type=text],
input[type=number],
input[type=date],
input[file] {
    width: 40rem;
}

textarea {
    padding: 1rem .5rem;
    width: 40rem;
}
/*cabeçalho da pagina*/

.header{
    height: 1rem;
    padding: 2rem;
    border-bottom: .1rem solid #777;
    background-color: transparent;
    backdrop-filter: blur(9px);
    
    
}


.header h3{
color: #fff;
border-top: 0;
text-align: center;

}

/*container do formulario*/

.form-container{
    background-color: #fff;
    width: 50%;
    
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 3rem;
    border: .1rem solid #ff4800;
    background-color: transparent;
    backdrop-filter: blur(9px);
    border-radius: 1rem;
}

/*cabeçaljo do formulario*/


.form-header{
    border-bottom:  .1rem solid #ff4800;
    height: 4.5rem;

}

.form-header p {
    color: #ffffff;
    
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    text-transform: uppercase;
    font-size: 3.0rem;
}

/*corpo do formulario*/

.form-body{
padding: .1rem;
}

.form-title{
    margin: 0;
}

.required-field{
    color: #ff0000;
}
.box-input{
    margin-bottom: 3rem;
}

.block{
    display: block;
    border-radius: 1.0rem;
}

.optional_box{
    display: inline-block;
    margin-right: 3rem;
}

.option_list{
    padding-left: 0;

}
.optional_list li{
    list-style: none;

}

.btn-submit{

    background-color: #ff4800;
    color: #fff;
    border: .2rem solid transparent;
    width: 10rem;
    height: 3.5rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s;
    border-radius: 1.0rem;
}
.btn-submit:hover{
    background-color: #fff;
    border-color: #ff4800;
    color: #ff4800;
}


@media (max-width: 851px){
    
    .form-container{
        
        width: 70%;
        border: .1rem solid  #ff4800;
        
    }
    .form-header p {
        color: #ffffff;
        font-size: 30px;
        

    }
    textarea {
        width: 20rem;
    }
  
    input[type=text],
    input[type=number],
    input[type=date],
    input[file] {
        width: 20rem;
    }
  
  